 li.cr > div > div > select, li.c > div > div > select {
    
  font-size: 13px;
  line-height: 25px;
  height: 24px;
  width: 110px;
  background-color: #ffffff;
  border: 1px solid rgb(255, 21, 21);
}
